<div align="center">
    <h1 *ngIf="form.data.id">Update User</h1>
    <h1 *ngIf="!form.data.id">Add User</h1>

    <h3 style="color:green">{{form.message}}</h3>

    <form #userForm="ngForm" (ngSubmit)="save()">
        <table>

            <!-- First Name -->
            <tr>
                <th>First Name</th>
                <td>
                    <input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="enter your firstName">

                    <div style="color:red" *ngIf="form.inputerror.firstName">
                        {{form.inputerror.firstName}}
                    </div>
                </td>
            </tr>

            <!-- Last Name -->
            <tr>
                <th>Last Name</th>
                <td>
                    <input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="enter your lastName">

                    <div style="color:red" *ngIf="form.inputerror.lastName">
                        {{form.inputerror.lastName}}
                    </div>
                </td>
            </tr>

            <!-- Role -->
            <tr>
                <th>Role</th>
                <td>
                    <select name="roleId" [(ngModel)]="form.data.roleId">
                        <option [ngValue]="null">---------Select Role---------</option>
                        <option *ngFor="let role of form.roleList" [value]="role.key">{{role.value}}</option>
                    </select>
                </td>
            </tr>

            <!-- Login -->
            <tr>
                <th>Login</th>
                <td>
                    <input type="email" name="loginId" [(ngModel)]="form.data.loginId" placeholder="enter your login">

                    <div style="color:red" *ngIf="form.inputerror.loginId">
                        {{form.inputerror.loginId}}
                    </div>
                </td>
            </tr>

            <!-- Password -->
            <tr>
                <th>Password</th>
                <td>
                    <input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="enter your password">

                    <div style="color:red" *ngIf="form.inputerror.password">
                        {{form.inputerror.password}}
                    </div>
                </td>
            </tr>

            <!-- DOB -->
            <tr>
                <th>Dob</th>
                <td>
                    <input type="date" name="dob" [(ngModel)]="form.data.dob">

                    <div style="color:red" *ngIf="form.inputerror.dob">
                        {{form.inputerror.dob}}
                    </div>
                </td>
            </tr>

            <!-- Profile Image -->
            <tr *ngIf="form.data.imageId > 0 && form.data.id > 0">
                <th>Profile :</th>
                <td>
                    <img src="http://localhost:8081/user/profilePic/{{form.data.id}}" height="90" width="90">
                </td>
            </tr>

            <!-- Default Image -->
            <tr *ngIf="form.data.id > 0 && form.data.imageId == null">
                <th>Profile :</th>
                <td>
                    <img src="assets/default-user.png" height="90" width="90">
                </td>
            </tr>

            <!-- Upload Image -->
            <tr>
                <th *ngIf="form.data.id > 0">Update Image :</th>
                <th *ngIf="!form.data.id">Upload Image :</th>

                <td>
                    <input type="file" name="imageId" (change)="onFileSelect($event)" accept="image/*">
                </td>
            </tr>

            <!-- Buttons -->
            <tr>
                <th></th>
                <td>
                    <input *ngIf="form.data.id" type="submit" value="Update">

                    <input *ngIf="!form.data.id" type="submit" value="Save">

                    <button type="button" (click)="resetForm()" style="margin-left:10px">
                        Reset
                    </button>
                </td>
            </tr>

        </table>
    </form>
</div>